{% extends 'AdminBundle:Admin:content_base.html.twig' %}
{% block content_title %}
    Your Cards
    <div class="btn-group pull-right">
        <button id="add-button" class="btn btn-success add-tooltip" data-toggle="tooltip" data-placement="auto bottom" data-title="Add a new Card to your collection"><i class="demo-pli-plus icon-lg"></i></button>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-colorful panel-info">
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="btn-group">
                            <button class="dropdown-toggle btn" data-toggle="dropdown" aria-expanded="false"><i class="demo-pli-gear icon-lg"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Preview</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">Network</h3>
                </div>
                <div class="panel-body text-center">
                    <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="{{ asset('assets/img/profile-photos/10.png') }}">
                    <p class="text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <ul class="list-unstyled text-center pad-top mar-no row">
                        <li class="col-xs-6">
                            <span class="text-lg text-semibold">134</span>
                            <p class="text-sm mar-no">Contacts</p>
                        </li>
                        <li class="col-xs-6">
                            <span class="text-lg text-semibold">65</span>
                            <p class="text-sm mar-no">Actives</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-colorful panel-info">
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="btn-group">
                            <button class="dropdown-toggle btn" data-toggle="dropdown" aria-expanded="false"><i class="demo-pli-gear icon-lg"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Preview</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">Network</h3>
                </div>
                <div class="panel-body text-center">
                    <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="{{ asset('assets/img/profile-photos/11.jpg') }}">
                    <p class="text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <ul class="list-unstyled text-center pad-top mar-no row">
                        <li class="col-xs-6">
                            <span class="text-lg text-semibold">19</span>
                            <p class="text-sm mar-no">Contacts</p>
                        </li>
                        <li class="col-xs-6">
                            <span class="text-lg text-semibold">3</span>
                            <p class="text-sm mar-no">Actives</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-modal-md" id="modal" tabindex="-1" role="dialog" aria-hidden="true" onclick="hideAlert();">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="modal-alert" class="alert alert-danger hidden"></div>
                    <div id="modal-body"></div>
                </div>
                <div class="modal-footer">
                    <button id="form-cancel" type="button" class="btn btn-danger" onclick="hideModal();">Cancel</button>
                    <button id="form-submit" type="button" class="btn btn-success">Proceed</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //# sourceURL=card_manager.js
        $(document).ready(function () {
            $('#add-button').tooltip();
            $('#add-button').on('click', function () {
                $.ajax({
                    url: '{{ path('vcard_create_card_form') }}',
                    success: function (resp) {
                        if (resp.success) {
                            $('#modal-body').html(resp.data);
                            $('#modal-title').html('<i class="fa fa-new font-blue"></i><span class="caption-subject uppercase font-blue"> Create new card</span>');
                            var form = $('.modal-body').find('form');
                            $(form).attr('action', '{{ path('vcard_create_card') }}');
                            $('#form-submit').on('click', newAction);
                            $('#modal').modal('show');
                        }
                    },
                    error: function () {

                    }
                });
            });
        });
        function hideModal() {
            $('#form-cancel').off('click');
            $('#form-submit').off('click');
            $('#modal-alert').addClass('hidden');
            $('#modal-title').html('');
            $('#modal-body').html('');
            $('#modal').modal('hide');
            $('#form-submit').html('Proceed');
            // Dirty hack to deal with modal backdrop bug...
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        }
        function newAction() {
            $('#form-submit').html('<span class="fa fa-spin fa-spinner"></span> Sending...');
            var form = $('.modal-body').find('form');
            ajaxsubmit(form[0], updateNew, errorNew, errorNew);
        }
        function updateNew() {
            hideModal();
            ajaxloader(active_view);
        }
        function errorNew(resp) {
            $('#form-submit').html('Proceed');
            $('#modal').scrollTop(0);
            $('#modal-alert').removeClass('hidden');
            $('#modal-alert').html(resp);
        }
        function hideAlert() {
            $('#modal-alert').addClass('hidden');
        }
    </script>
{% endblock %}