{% extends "AdminBundle:Admin:Login/base.html.twig" %}

{% block title %}RealBoost Recover Password{% endblock %}

{% block body %}
    <form metfod="post" action="">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                <h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
            </div>

            <div class="form-group has-feedback">
                <input name="email" type="email" class="form-control" placeholder="Your email">
                <div class="form-control-feedback">
                    <i class="icon-mail5 text-muted"></i>
                </div>
            </div>
            <button type="submit" class="btn bg-blue-400 btn-block">Reset password <i class="icon-arrow-right14 position-right"></i></button>
            <div class="text-center">
                <a href="{{ path('admin_login') }}" class="btn btn-link"><i class="icon-arrow-left13"></i> Back to login form</a>
            </div>
        </div>
    </form>
{% endblock %}