{% extends 'AdminBundle:Admin:Login/login_base.html.twig' %}
{% block subtitle %}Recover{% endblock %}
{% block main_content %}
    <div class="cls-content-sm panel" id="register_form">
        <div class="panel-body">
            <div class="pad-ver">
                <i class="ion-ios-email-outline icon-3x"></i>
            </div>
            <p class="text-muted pad-btm">Enter your email address to proceed with your password reset</p>
            <form action="">
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                </div>
            </form>
            <div class="form-group text-right">
                <button id="send" class="btn btn-success btn-block">Reset Password</button>
            </div>
            <div class="pad-top">
                <a href="{{ path('admin_login') }}" class="btn-link mar-rgt text-primary">Back to Login</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var accept = false;
        $(document).ready(function () {
            $('#email').focus(function () {
                $(this).removeClass('error-marker');
                $(this).parent('div').removeClass('has-error');
            });
            $('#email').mask('A', {
                translation: {
                    'A': {pattern: /[\w@\-.+]/, recursive: true}
                }
            });
            $('#send').on('click', function () {
                var error = false;
                if ($('#email').val() === '') {
                    $('#email').addClass('error-marker');
                    $('#email').parent('div').addClass('has-error');
                    $.niftyNoty({
                        type: 'danger',
                        message: 'Please, you need to provide an email address',
                        container: 'floating',
                        timer: 5000
                    });
                } else if (!$('#email').val().match(mailformat)) {
                    $('#email').addClass('error-marker');
                    $('#email').parent('div').addClass('has-error');
                    $.niftyNoty({
                        type: 'danger',
                        message: 'Please, be sure to use a valid email address',
                        container: 'floating',
                        timer: 5000
                    });
                } else {
                    $('#send').html('<span class="fa fa-spin fa-spinner"></span> Sending...');
                    $.ajax({
                        url: '{{ path('admin_recover') }}',
                        method: 'post',
                        data: {
                            'email': $('#email').val()
                        },
                        success: function (resp) {
                            if (resp.success) {
                                $('#register_form').html('<div class="panel-body"><div class="mar-ver pad-btm"><h3 class="h4 mar-no">Success!</h3><p class="text-muted">Your request has been started</p></div><p>Plase, check your e-mail. We have sent instructions to conclude your password reset process</p><a href="{{ path('admin_home') }}"><button class="btn btn-primary btn-block">Go to Login</button></a></div>');
                            } else {
                                $('#send').html('Reset Password');
                                $.niftyNoty({
                                    type: 'danger',
                                    message: 'A problem was detected: ' + resp.cause,
                                    container: 'floating',
                                    timer: 5000
                                });
                            }
                        },
                        error: function () {
                            $('#send').html('Reset Password');
                            $.niftyNoty({
                                type: 'danger',
                                message: 'Something is wrong... :-( Do you have internet access?',
                                container: 'floating',
                                timer: 5000
                            });
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}